@import "variables";

h1,
h2,
h3,
h4 {
  font-family: $primary-font-family;
  font-weight: $font-weight-bold;
  margin: 0 50px;
  color: $tertiary-color;
}

header.site-header {
  background-color: $secondary-color;
  color: $tertiary-color;

  a,
  a:active,
  a:visited {
    color: $tertiary-color;
  }
  a:hover {
    color: $primary-shade;
  }

  .menu-toggle .bar {
    background-color: $tertiary-color;
  }
}
.content .container {
  padding: 0;
}

// header spacing
.wp-block-cover {
  p {
    margin: 0;
    line-height: 35px;
  }

  .wp-block-buttons {
    margin-top: 15px;
    max-width: 300px;
  }
}
article p {
  font-size: 18px;
  line-height: 25px;
  padding-left: 50px;
  padding-right: 50px;

  .wp-block-button {
    transition: 0.2s;
    &:hover {
      background-color: $primary-color;
    }
  }
}

.wp-block-buttons {
  margin: 0 50px;
}

// Logo
.site-branding img {
  width: 62px;
}

// Floating img helper class
body .content .float-me {
  margin: 50px;
  img {
    @include image-drop-shadow();
  }
}

// Footer
footer {
  background-color: $primary-color;
  color: #fff;
  padding: 100px 0;
  font-size: 16px;

  a,
  a:active,
  a:visited {
    color: #fff;
    margin: 4px;
    font-family: $secondary-font-family;
    font-weight: bold;
    text-decoration: underline;
  }

  .container {
    flex-direction: column;
  }

  img {
    max-width: 300px;
  }

  p {
    margin: 4px;
    font-family: $secondary-font-family;
    text-align: center;
  }

  .insta {
    width: 30px;
  }

  .cite {
    font-size: 14px;
    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
}

.space-50 {
  height: 50px;
}

@media screen and (max-width: 768px) {
  .bump-on-mobile {
    margin-top: 70px;
  }
}

.content ul {
  list-style: square;
  padding-left: 64px;
}
